.compare-with-you-yesterday2 {
    background-color: rgb(220, 229, 242);
    width: 500px;
    height: 500px;

    position: absolute;
    top: 400px;
    left: -200px;
}

/* .compare-with-you-yesterday .graph {
    border: 1px solid black;
    width: 200px;
    height: 500px;
} */
