.train-config {
    width: 500px;
    height: 400px;
    background-color: rgb(245, 245, 252);

    /* とりま、下の方に置いておく */
    position: absolute;
    top: 750px;
    left: 800px;
}

.update-devices-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    margin: auto;
}
