.train-record {
    width: 200px;
    height: 200px;
    background-color: #8ac4ee;
    padding: 10px;

    /* とりま、右の方に置いておく */
    position: absolute;
    top: 100px;
    right: 100px;
}

.train-record p {
    text-align: left;
}
