.train-main {
    width: 800px;
    height: 600px;
    /* background-color: #52b450; */

    /* とりま、下の方に置いておく */
    position: absolute;
    top: 100px;
    left: 650px;
}

.user-answerable {
    width: 200px;
    height: 200px;
    background-color: #ce2121;
    
    position: absolute;
    top: 0px;
    left: 0px;
}
